.conversation {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
}

.conversation img {
  width: 10%;
  border-radius: 90%;
  animation: float 6s ease-in-out infinite;
}

.container-contact {
  margin-top: 7%;
}

.contact-me {
  display: flex;
  align-items: center;
  flex: start;
  margin-left: 3%;
  padding-bottom: 3%;
}

.img-contactme {
  width: 8%;
  animation: float 6s ease-in-out infinite;
  border-radius: 90%;
}

.contact-me h4 {
  font-size: 3rem;
  margin-left: 2%;
}

.contact-me a {
  text-decoration: none;
}

@media (max-width: 750px) {
  .img-contactme {
    width: 10%;
  }
  .contact-me h4 {
    font-size: 1rem;
  }
}
