.phone,
.coffee,
.headphones,
.notebook {
  position: absolute;
}

.phone {
  left: -3%;
}

.video {
  z-index: 999999;
}

.coffee img {
  width: 70%;
  margin-top: 150%;
  margin-left: -45%;
}

.notebook img {
  width: 15%;
  margin-top: 5%;
  margin-left: 1160px;
}

.headphones img {
  width: 80%;
  margin-top: 190%;
  margin-left: 340%;
}

@media (max-width: 768px) {
  .phone img,
  .coffee img,
  .notebook img,
  .headphones img {
    display: none;
  }
}
