@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.head p {
  font-size: 4rem;
  color: wheat;
  font-weight: 600;
}

.photo {
  border-radius: 50%;
}

.phrase {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: whitesmoke;
  font-family: "Courgette", cursive;
  text-align: center;
}

.sub-menu {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.menu-img {
  position: absolute;
  visibility: hidden;
  display: flex;
}

.Link {
  text-decoration: none;
  color: white;
}

.button-menu:nth-child(1n) {
  background: #cc5560;
}

.button-menu:nth-child(2n) {
  background: #b1bd2a;
}

.button-menu:nth-child(3n) {
  background: #d07b31;
}

.button-menu:nth-child(4n) {
  background: #84aaa3;
}

.button-menu:nth-child(5n) {
  background: #7579c4;
}

.button-menu:nth-child(6n) {
  background: #75c481;
}

.button-menu:nth-child(7n) {
  background: #ad75c4;
}

.sub-menu ul {
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.sub-menu li {
  font-size: 1.25vw;
  display: inline;
  padding: 1rem;
}

.button-menu {
  margin: 1px;
  padding-bottom: 50px;
  display: inline;
  font-weight: 600;
  border-radius: 10%;
  cursor: pointer;
  transform: translateX(0);
}

.button-menu::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: linear-gradient(
    134deg,
    transparent 45%,
    #aaa 50%,
    #ccc 60%,
    transparent
  );
  transition-duration: 0.3s;
}

.button-menu:hover::before {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .phrase {
    margin-top: -2rem;
    text-align: center;
    font-size: 1rem;
    padding: 2%;
    margin-bottom: 1rem;
  }
  .photo {
    width: 15%;
    position: absolute;
    margin-top: -12%;
  }

  .sub-menu {
    position: absolute;
    display: block;
    width: 80.2%;
    margin-left: 10%;
    margin-top: 0.5%;
  }
  .sub-menu ul {
    margin-top: -0.25rem;
  }
  .sub-menu li {
    font-size: 1.25rem;
    display: block;
    padding: 0;
    margin-top: -7px;
    text-align: center;
  }
  .menu-img {
    border-radius: 10%;
  }

  .menu-img img {
    visibility: visible;
    justify-content: center;
    margin-top: -65%;
    padding-bottom: 30px;
    background: #d07b31;
    border-radius: 10%;
  }

  .button-menu {
    margin: -1px;
    padding-bottom: 10px;
    display: block;
    border-radius: 4px;
    left: -150%;
    z-index: 3;
  }
  .open {
    transition: 0.5s;
    left: -1px;
  }
}
