@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.container-shelf {
  display: flex;
  justify-content: center;
}

.shelf {
  margin-top: 14.7%;
}

.container-shadows {
  position: relative;
  margin-top: 4%;
}

.icons {
  display: flex;
  margin-top: 14%;
  justify-content: center;
}

.icons li {
  display: inline;
  margin: 30px;
  z-index: 2;
}

.icons img {
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
}

.shadows {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -12%;
  list-style: none;
  z-index: 1;
}

.shadows li {
  margin: 30px;
}

.shadows img {
  width: 50px;
}

.icons img:hover {
  cursor: pointer;
  margin-top: -20%;
  width: 60px;
}

.copyright {
  margin-top: 13%;
  color: darkgrey;
  font-weight: 600;
}

/*? ....................................................................................
/* ? -----------------------CEL SMALL -----------------------------------------------------
/*? ......................................................................................*/

@media (max-width: 360px) {
  .container-shelf {
    text-align: center;
  }

  .shelf img {
    width: 100%;
    margin-top: 5.6%;
  }

  .icons {
    margin-top: -0.3%;
    padding: 0;
  }

  .icons li {
    margin: 10px;
  }

  .icons img {
    width: 40px;
  }

  .shadows {
    margin-top: -39px;
    padding-left: 0;
  }

  .shadows li {
    margin: 10px;
  }

  .shadows img {
    width: 40px;
  }

  .copyright {
    margin-top: 10%;
    padding: 1rem;
  }
}

/*? .....................................................................................
/* ? -------------------------- CEL MEDIUM -------------------------------------------------
/* ?.......................................................................................*/

@media (min-width: 361px) and (max-width: 375px) {
  .container-shelf {
    text-align: center;
  }

  .shelf img {
    width: 100%;
  }

  .icons {
    margin-top: 1.3%;
    padding-left: 0;
  }

  .icons li {
    margin: 10px;
  }

  .icons img {
    width: 40px;
  }

  .shadows {
    margin-top: -40px;
    padding-left: 0;
  }

  .shadows li {
    margin: 10px;
  }

  .shadows img {
    width: 40px;
  }

  .copyright {
    margin-top: 10%;
    padding: 1rem;
  }
}

/* ? ......................................................................
/*? ---------------------------- CEL HIGH ---------------------------------
/*? .......................................................................*/

@media (min-width: 376px) and (max-width: 414px) {
  .container-shelf {
    text-align: center;
  }

  .shelf img {
    width: 100%;
    margin-top: 5.4%;
  }

  .icons {
    margin-top: -1.4%;
    padding-left: 0;
  }

  .icons li {
    margin: 10px;
  }

  .icons img {
    width: 50px;
  }

  .shadows {
    margin-top: -9%;
    padding-left: 0;
  }

  .shadows li {
    margin: 10px;
  }

  .shadows img {
    width: 50px;
  }

  .copyright {
    margin-top: 10%;
    padding: 1rem;
  }
}
