@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.container-shelf {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shelf {
  margin-top: 14.7%;
}

.container-shadows {
  display: flex;
  position: absolute;
  margin-top: -6.5%;
  z-index: 9;
}

.container-shadows img {
  margin-left: 2rem;
  width: 70px;
  height: 15px;
}

.icons {
  display: flex;
  margin-top: -12%;
  position: absolute;
}

.icons img {
  margin-left: 2rem;
  width: 70px;
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
}

.icons img:hover {
  cursor: pointer;
  width: 80px;
}

.copyright {
  display: flex;
  position: absolute;
  margin-top: 5rem;
  color: darkgrey;
  font-weight: 600;
  font-size: 20px;
  z-index: 9;
}

@media only screen and (max-width: 768px) {
  .container-shelf {
    margin-top: 10%;
  }

  .shelf img {
    width: 100%;
  }

  .container-shadows {
    margin-top: -22%;
  }

  .container-shadows img {
    margin-left: 2rem;
    width: 70px;
    height: 10px;
  }

  .icons {
    margin-top: -39%;
  }

  .icons img {
    margin-left: 2rem;
    width: 70px;
  }

  .copyright {
    margin-top: 10rem;
    font-size: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .container-shadows img {
    margin-left: 1rem;
    width: 50px;
  }

  .icons img {
    margin-left: 1rem;
    width: 50px;
  }

  .copyright {
    text-align: center;
    padding: 1rem;
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .container-shelf {
    margin-top: 5rem;
  }
  .container-shadows img {
    width: 40px;
  }

  .icons img {
    width: 40px;
  }

  .copyright {
    font-size: 16px;
  }
}
